<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <br />

   
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-group">
        <p>Join To Our Web Page</p>
        <label>User Name</label>
        <input type="text" class="form-control" #userName />
      </div>
      <br />
      <div class="form-group">
        <select class="form-control" #status>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
      <br />

      <label > Upload your Image: </label>
        <input type="file" name="image" (change)="onFileSelected($event)" accept="image/*" #image  >
      <br />
      <br />
    <button
      class="btn btn-secondary"
      (click)="onCreateUser(userName.value, status.value, image.value)"
    >
      Add User
    </button>
  </div>


  <router-outlet></router-outlet>
</div>
